<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Heads & Tails</title>
  <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="ht-container">
    <div id="ht-coin">
      <div class="front face">
        H
      </div>
      <div id="ht-back" class="back face">
        T
      </div>
    </div>
  </div>

  <h1 class="ht-header">Heads and Tails</h1>
  <p id="ht-description" class="ht-description">Flip the coin</p>

  <script type="text/javascript" src="script.js"></script>
</body>

</html>
